body{
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #012807

}
.tour{
    background: #012807;
    height: 100vh;
    margin-top: 10px;
    
}



.tour__head{
    padding-top: 10vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: -100px;
    font-size: 28px;
}



.image-container{
   margin: auto;
    height: 40rem ;
    width: 76% ;

    position: relative;
    display: block;
    overflow: hidden;
    
  border: 3px solid #aeb410;
  border-radius: 10px;
 
}

canvas{
    width: 100%;
}