body{
    margin-top: 0px;
    
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #012807

}

.tour{
    margin-top: -30px;

}


.tour__head{
    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}



.image-container{
   margin: auto;
   margin-top: 0px;
    height: 35rem ;
    width: 76% ;

    position: relative;
    display: block;
    overflow: hidden;
    
  border: 3px solid #aeb410;
  border-radius: 10px;
 
}

canvas{
    width: 100%;
}