<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>UNEMAT</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

</head>
<body>
    <div class="tour">
        <div class="container">
            <div class="tour__head">
                <h2>Polo UNEMAT</h2>
            </div>

            <div class="image-container"></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
    <script src=" {{url_for('static',filename='js/panolens.min.js')}} "></script>
    <script src=" {{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>